<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        input {
            width: 100%;
        }
        label {
            font-weight: 600;
        }
    </style>
</head>
<body class="bg-light">
    <div class="container d-flex justify-content-center align-items-center vh-70">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center mb-4">Registration</h3>
                    {% if messages %}
                    <ul class="list-group mb-3">
                        {% for message in messages %}
                        <li class="list-group-item {% if message.tags %} {{ message.tags }} {% endif %}">{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            {% for field in form %}
                            <div class="form-row mb-3">
                                <label class="col-form-label col-12">{{ field.label_tag }}</label>
                                <div class="col-12">
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button style="background-color:rgb(21, 123, 164);" type="submit" class="btn  btn-block">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
